@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navy: #050f1b;
  --orange: #fb901e;
  --red: #9b2b29;
  --teal: #06918a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navy: var(--navy);
  --color-orange: var(--orange);
  --color-red: var(--red);
  --color-teal: var(--teal);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
